# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env

# logs
logs/*.log

# Database
*.db

# Pytest
.pytest_cache/

# Local project inspection
project_tree.txt

# Coverage
.coverage
htmlcov/